In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [2]:
df15_16 = pd.read_csv('PL15-16.csv')
df16_17 = pd.read_csv('PL16-17.csv')
df17_18 = pd.read_csv('PL17-18.csv')
df18_19 = pd.read_csv('PL18-19.csv')

In [7]:
df = pd.DataFrame(columns=['h_goals', 'a_goals', 'h_shots', 'a_shots', 'h_on_target', 'a_on_target', 'home_win', 'draw', 'away_win', 'result'])

In [27]:
df['h_goals'] = df15_16['FTHG']
df['a_goals'] = df15_16['FTAG']
df['h_shots'] = df15_16['HS']
df['a_shots'] = df15_16['AS']
df['h_on_target'] = df15_16['HST']
df['a_on_target'] = df15_16['AST']
df['home_win'] = np.amax(df15_16[['B365H', 'BWH', 'IWH', 'LBH', 'PSH', 'WHH']], 1)
df['draw'] = np.amax(df15_16[['B365D', 'BWD', 'IWD', 'LBD', 'PSD', 'WHD']], 1)
df['away_win'] = np.amax(df15_16[['B365A', 'BWA', 'IWA', 'LBA', 'PSA', 'WHA']], 1)
df['result'] = df15_16['FTR']

In [28]:
df

,h_goals,a_goals,h_shots,a_shots,h_on_target,a_on_target,home_win,draw,away_win,result
0,0,1,11,7,2,3,2.10,3.65,4.27,A
1,2,2,11,18,3,10,1.40,5.00,11.00,D
2,2,2,10,11,5,5,1.75,3.95,5.62,D
3,4,2,19,10,8,5,2.00,3.50,4.34,H
4,1,0,9,9,1,4,1.67,4.09,6.00,H
...,...,...,...,...,...,...,...,...,...,...
375,2,1,7,20,4,7,3.50,3.82,2.30,H
376,1,1,4,18,1,5,7.00,4.79,1.53,D
377,2,2,21,6,6,4,2.20,3.80,3.78,D
378,1,1,13,7,1,3,2.50,3.70,3.10,D
379,3,1,12,7,5,0,1.70,4.20,5.61,H

In [71]:
mydf = pd.DataFrame(columns=['h_goals', 'a_goals', 'h_shots', 'a_shots', 'h_on_target', 'a_on_target', 'home_win', 'draw', 'away_win', 'result'])
for x in range(4):
    temp = pd.read_csv('PL' + str(15 + x) + '-' + str(16 + x) + '.csv')
    temp2 = pd.DataFrame(columns=['h_goals', 'a_goals', 'h_shots', 'a_shots', 'h_on_target', 'a_on_target', 'home_win', 'draw', 'away_win', 'result'])
    temp2['h_goals'] = temp['FTHG']
    temp2['a_goals'] = temp['FTAG']
    temp2['h_shots'] = temp['HS']
    temp2['a_shots'] = temp['AS']
    temp2['h_on_target'] = temp['HST']
    temp2['a_on_target'] = temp['AST']
    temp2['home_win'] = np.amax(temp[['B365H', 'BWH', 'IWH', 'LBH', 'PSH', 'WHH']], 1)
    temp2['draw'] = np.amax(temp[['B365D', 'BWD', 'IWD', 'LBD', 'PSD', 'WHD']], 1)
    temp2['away_win'] = np.amax(temp[['B365A', 'BWA', 'IWA', 'LBA', 'PSA', 'WHA']], 1)
    temp2['result'] = temp['FTR']
    mydf = pd.concat([mydf, temp2])

KeyError: "['LBH'] not in index"

In [70]:
mydf

,h_goals,a_goals,h_shots,a_shots,h_on_target,a_on_target,home_win,draw,away_win,result
0,0,1,11,7,2,3,2.10,3.65,4.27,A
1,2,2,11,18,3,10,1.40,5.00,11.00,D
2,2,2,10,11,5,5,1.75,3.95,5.62,D
3,4,2,19,10,8,5,2.00,3.50,4.34,H
4,1,0,9,9,1,4,1.67,4.09,6.00,H
...,...,...,...,...,...,...,...,...,...,...
375,2,1,7,20,4,7,3.50,3.82,2.30,H
376,1,1,4,18,1,5,7.00,4.79,1.53,D
377,2,2,21,6,6,4,2.20,3.80,3.78,D
378,1,1,13,7,1,3,2.50,3.70,3.10,D
379,3,1,12,7,5,0,1.70,4.20,5.61,H